<form method="post" asp-controller="Dogs" asp-action="Index">
	<div class="text-center">
		<table>
			<tr>
				<td><p>Http код</p></td>
				<td><input id="code" type="number" name="code" /> </td>
			</tr>
		</table>
	</div>
	<input type="submit" value="Картинка" />
</form>